$fuente_principal : "Montserrat", sans-serif;

// Colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

// Media Queries
$min-sm:480px;
$min-md:768px;
$min-lg:1200px;
$min-xl:1400px;